<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/styles/cssandjs/actions.js}"></script>
</head>
<body>

<script th:inline="javascript">
    var moviesList = /*[[${moviesList}]]*/;
</script>

<button type="button" th:onclick="showMovies(moviesList)">Show Movies</button>
<div id="movies"></div>

</body>
</html>