<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteka filmowa</title>
    <script type="text/javascript" th:src="@{/styles/cssandjs/actions.js}"></script>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="onload();">
<script th:inline="javascript">
    var moviesNames = /*[[${moviesNames}]]*/;
    var moviesScores = /*[[${moviesScores}]]*/;
    var moviesRelease = /*[[${moviesRelease}]]*/;
    var movieDirector = /*[[${movieDirector}]]*/;
</script>
<div role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="row">
        <div class="col-sm col-md-3">
            <ul class="nav navbar-nav">
                <li>
                    <form role="all" class="navbar-form" id="all">
                        <button class="btn btn-default" type="button" th:onclick="appendToTable(moviesNames, moviesScores, moviesRelease)">Show all movies</button>
                    </form>
                    <form role="search" class="navbar-form" id="search">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Find by title" class="form-control" name="search" id="search_title">
                        </div>
                        <button class="btn btn-default" type="button" value="click" onclick="searchByTitle(moviesNames, moviesScores, moviesRelease);">Search</button>
                    </form>
                    <form role="search_year" class="navbar-form" id="search2">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Find by year of production" class="form-control" name="search" id="search_year">
                        </div>
                        <button class="btn btn-default" type="button" value="click" onclick="searchByYear(moviesNames, moviesScores, moviesRelease);">Search</button>
                    </form>
                    <form role="search_score" class="navbar-form" id="search3">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Find by rate" class="form-control" name="search" id="search_score">
                        </div>
                        <button class="btn btn-default" type="button" value="click" onclick="searchByScore(moviesNames, moviesScores, moviesRelease);">Search</button>
                    </form>
                    <form role="search_details" class="navbar-form" id="search4">
                        <div class="form-group">
                            <input type="text" value="" placeholder="Get details by title" class="form-control" id="search_details" th:name="movieTitle"/>
                            <!--<input type="submit"/>//-->
                        </div>
                        <button th:action="@{/}" class="btn btn-default" type="submit" value="click" onclick="detailsAlert();">Submit</button>
                    </form>
                    <form role="all" class="navbar-form" id="detailsall">
                        <button class="btn btn-default" type="button" value="click" onclick="getDetails(movieDirector);">Get details</button>
                    </form>


                </li>
            </ul>
        </div>
        <div class="center-block">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Neo4j database movie library</div>
            <table id="results" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Year of production</th>
                    <th>Rate</th>
                </tr>
                </thead>
                <tbody id="tablebody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" id="title">Details</div>
            <table id="detailsresults" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Studio</th>
                    <th>Director</th>
                    <th>Cast</th>
                </tr>
                </thead>
                <tbody id="detailstablebody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<style type="text/css">
    .node { stroke: #222; stroke-width: 1.5px; }
    .node.actor { fill: #888; }
    .node.movie { fill: #BBB; }
    .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
</style>

</body>
</html>