<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Get Studios</title>
</head>
<body>
<div>This is testing page</div>
<table>
    <thead>
    <tr>
        <th> Testing objects </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${testList.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="object : ${testList}">
        <td><span th:text="${object}"> Title </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>